[Unit]
Description=Automatically run the Lemmy old comment purger every 30 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target